.app {
  margin: 50px;
}

.search {
  padding: 10px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
}

table {
  width: 80%;
  margin: 0 auto;
  border-spacing: 15px;
  color: #444;
  padding-top: 30px;
}

tr {
  margin-bottom: 20px;
  border: 1px solid black;
  text-align: center;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
  text-align: center;
}

td {
  width: 250px;
  font-size: 20px;
  margin: 0 auto;
}
